/*
2c2c2c - dark gray for header and buttons
fafafa - white for text
3f3f3f - light gray for main body
191919 - almost black for left menu
740BB8 - purple for selected
*/


.header{
    -fx-background-color:"#2c2c2c";
}

.main{
    -fx-background-color: "#3f3f3f";
}

.main .label{
    -fx-text-fill: "#fafafa";
    -fx-font-family: Georgia;
    -fx-font-size: 15;
    -fx-alignment: center-left;
 }

.left{
    -fx-background-color: "#191919";
}

.button{
    -fx-background-color:"#2c2c2c";
    -fx-background-radius:20;
    -fx-font-size:15;
    -fx-text-fill:"#fafafa";
    -fx-font-family: Georgia;
}

.chart-legend {
    -fx-background-color: "#2c2c2c";
    -fx-text-fill: "#fafafa";
}

.chart-pie-label-line {
    -fx-stroke: #fafafa;
    -fx-fill: #fafafa;
}

.chart-pie-label {
    -fx-fill: #fafafa;
    -fx-font-size: 2em;
}

.text-field{
    -fx-background-radius: 10;
}

.label{
    -fx-text-fill: "#fafafa";
    -fx-font-family: Georgia;
    -fx-font-size: 28;
    -fx-alignment: center;
}

.table-view {
    -fx-background-color: transparent;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: black;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-border-color: white;
}

.table-view .column-header .label{
    -fx-font-size: 15;
}

.table-view .table-cell{
    -fx-border-color: white;
    -fx-text-fill: white;
    -fx-font-size: 15;
    -fx-font-family: Georgia;
}

 .table-row-cell: selected {
    -fx-background-color: "#740BB8";
}

.table-row-cell{
    -fx-background-color: "#2c2c2c";
}
